# Template: https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore
!/.gitattributes
!/.dockerignore
!/.github/**
!/.pre-commit-config.yaml
!/.golangci.yaml

!*.go
!*.sql
!*.toml
!sql/**/*.hcl
!sql/**/*.sum

!go.sum
!go.mod
!Makefile
!Dockerfile

!README.md
!LICENSE

# ...even if they are in subdirectories
!*/

bin/*
data/*
